* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
  font-family: 'Poppins';
}

.container {
  border: 3px solid blue;
  width: 100%;
  max-width: 900px;

}

header {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid #bbc0c5;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  color: #7063F0;
}

main {
  padding: 20px 0px;
}

.add-task, .tasks {
  padding: 0 10px 20px 10px;
}
.add-task {
  margin-bottom: 20px;
  border-bottom: 1px solid #bbc0c5;
}

.add-task h2 {
  margin-bottom: 10px;
}

.add-task form {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 15px;
}

.add-task input {
  flex-grow: 1;
  padding: 20px;
  border: 1px solid #7063F0;
  border-radius: 10px;
  background-color: #E4E1FF;
}

.add-task input::placeholder {
  color: #7063F0;
  font-size: 0.9rem;
}

.add-task button {
  padding: 20px 24px;
  cursor: pointer;
  color: white;
  background-color: #7063F0;
  border-radius: 10px;
  border: none;
}

.header-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-tasks h2 {
  margin-bottom: 4px;
}

.header-tasks div p{
  color: gray;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  border: 1px solid #7063F0;
  background-color: #E4E1FF;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 13px;
  color: #7063F0;
  gap: 10px;
}

.task-info {
  display: flex;
  flex-direction: column;
}

.delete-task {
  margin-left: auto;
}

input[type="checkbox"] {
  accent-color: #7063F0;
}


